# ***FUNCTIONS***
# ***ASSIGNMENT***

# ***THEORY QUESTIONS***

Note: For each theory Question, give at least one example.

1. What is the difference between a function and a method in Python?

ans-  A function is a block of reusable code that performs a specific task. It is defined using the def keyword.

A method is also a block of reusable code, but it is associated with an object or a class. Methods are called on an object using dot notation (object.method()).

Here's an example:

In [ ]:
# This is a function
def greet(name):
  return f"Hello, {name}!"

print(greet("Alice"))

# This is a method (the `upper()` method of a string object)
my_string = "hello"
print(my_string.upper())

2. Explain the concept of function arguments and parameters in Python.

ANS  -:
In Python, parameters are the names listed in the function definition. They are placeholders for the values that will be passed into the function when it is called. Arguments are the actual values that are passed to the function when it is called.

In [1]:
def add_numbers(x, y): # x and y are parameters
  return x + y

result = add_numbers(5, 3) # 5 and 3 are arguments
print(result)

8

In this example, x and y are parameters defined in the add_numbers function. When we call the function with add_numbers(5, 3), the values 5 and 3 are the arguments passed to the function

3. What are the different ways to define and call a function in Python?

ANS - : In Python, there are multiple ways to define and call functions, each with its own use case. The most common approach involves the def keyword, but you can also use anonymous lambda functions, nested functions, and recursion .

Defining functions:

* Using ***def***  keyword: This is the most common way to define a function.

In [ ]:
def my_function(parameter1, parameter2):
    # function body
    pass

* Using lambda keyword (for anonymous functions): Used for creating small, single-expression functions .

In [ ]:
my_lambda_function = lambda parameter1, parameter2: expression

* Keyword arguments: Arguments are passed by explicitly naming the parameter.

In [ ]:
my_function(parameter2=value2, parameter1=value1)

* Default arguments: Parameters can have default values, allowing you to call the function without providing an argument for that parameter.

In [ ]:
def greet(name="World"):
    return f"Hello, {name}!"

print(greet()) # Output: Hello, World!
print(greet("Alice")) # Output: Hello, Alice!

* Arbitrary positional arguments (*args): Allows a function to accept a variable number of positional arguments. The arguments are packed into a tuple.

In [2]:
def sum_all(*args):
    return sum(args)

print(sum_all(1, 2, 3, 4)) # Output: 10

10

 * Arbitrary keyword arguments (**kwargs): Allows a function to accept a variable number of keyword arguments. The arguments are packed into a dictionary.

In [3]:
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_info(name="Alice", age=30)
# Output:
# name: Alice
# age: 30

name: Alice
age: 30

4. What is the purpose of the `return` statement in a Python function?

 ANS -: The return statement in a Python function is used to exit the function and send a value back to the caller.

Here's a breakdown of its purpose:

Sending a value back: The primary use of return is to make the result of a function's computation available to the code that called it.

Exiting the function: When a return statement is encountered, the function stops executing immediately, regardless of whether there is more code after the return statement.

If a function doesn't have a return statement, or if it has a return statement without a value, it implicitly returns None.

Here's an example:

In [4]:
def multiply(a, b):
  result = a * b
  return result # The function returns the value of 'result'

product = multiply(5, 3)
print(product) # Output: 15

def greet(name):
    print(f"Hello, {name}!")
    # No return statement, so it implicitly returns None

greeting = greet("Bob")
print(greeting) # Output: None

15
Hello, Bob!
None

5. What are iterators in Python and how do they differ from iterables?

ANS-  Iterators and iterables are both fundamental concepts in Python for working with sequences of data, but they have distinct roles.

An iterable is an object that can be looped over. This means it's a collection of items that you can traverse one by one. Examples of iterables include lists, tuples, strings, and dictionaries. Objects are considered iterable if they implement the __iter__ method, which returns an iterator.

An iterator is an object that represents a stream of data. It's what actually does the iterating. An iterator must implement the __iter__ method (which should return the iterator object itself) and the __next__ method. The __next__ method returns the next item from the stream. When there are no more items, it raises the StopIteration exception.

Here's how they differ and an example:

Iterable: You can call iter() on an iterable to get an iterator. You can loop over an iterable multiple times.

Iterator: You get an iterator from an iterable. You can only loop over an iterator once. Once all items have been consumed by calling __next__, the iterator is exhausted.

Here's an example:

In [5]:
# This is an iterable (a list)
my_list = [1, 2, 3, 4]

# We can iterate over the list directly
print("Iterating over the list:")
for item in my_list:
    print(item)

# Get an iterator from the iterable
my_iterator = iter(my_list)

# Use the iterator to get the next element
print("\nUsing the iterator:")
print(next(my_iterator))
print(next(my_iterator))

# Once the iterator is exhausted, calling next() raises StopIteration
# print(next(my_iterator))
# print(next(my_iterator))
# print(next(my_iterator)) # This would raise StopIteration

# We can get a new iterator from the iterable to iterate again
new_iterator = iter(my_list)
print("\nIterating again with a new iterator:")
for item in new_iterator:
    print(item)

Iterating over the list:
1
2
3
4

Using the iterator:
1
2

Iterating again with a new iterator:
1
2
3
4

6. Explain the concept of generators in Python and how they are defined.

ANS-  Generators are a powerful and memory-efficient way to create iterators in Python. They are defined like regular functions, but instead of using the return statement to return a single value and exit, they use the yield keyword to yield a sequence of values.

When a generator function is called, it doesn't execute the code immediately. Instead, it returns a generator object. The code in the generator function is executed only when next() is called on the generator object (either explicitly or implicitly in a loop). When yield is encountered, the function's state is saved, and the yielded value is returned. The next time next() is called, the function resumes from where it left off.

Here's how they are defined and an example:

Defined using def with the yield keyword:

In [ ]:
def my_generator():
    yield 1
    yield 2
    yield 3

Here's an example demonstrating how to use a generator:

In [6]:
def count_up_to(n):
    i = 1
    while i <= n:
        yield i
        i += 1

# Create a generator object
counter = count_up_to(5)

# Iterate through the values yielded by the generator
print("Using a for loop:")
for number in counter:
    print(number)

# You can also use next() to get values one by one
print("\nUsing next():")
another_counter = count_up_to(3)
print(next(another_counter))
print(next(another_counter))
print(next(another_counter))
# print(next(another_counter)) # This would raise StopIteration

Using a for loop:
1
2
3
4
5

Using next():
1
2
3

7. What are the advantages of using generators over regular functions?

ANS - Generators offer several advantages over regular functions when dealing with sequences of data, primarily related to memory efficiency and the ability to work with potentially infinite sequences.

Here are some key advantages:

* Memory Efficiency: Generators produce items one at a time and only keep track of their current state. This is in contrast to regular functions that return a list or other data structure containing all the values, which can consume a lot of memory for large datasets.
* Lazy Evaluation: Values are generated on demand as they are needed, rather than all at once. This is particularly useful for large or infinite sequences where generating all values upfront would be impossible or impractical.
* Simpler Code for Iterators: Generators provide a more concise and readable way to create iterators compared to writing a custom class with __iter__ and __next__ methods.
* Working with Infinite Sequences: Since generators yield values one at a time, they can be used to represent infinite sequences without running out of memory.

Here's an example demonstrating memory efficiency:

In [8]:
import sys
# Regular function that returns a list
def create_list(n):
    my_list = []
    for i in range(n):
        my_list.append(i)
    return my_list
# Generator function
def create_generator(n):
    for i in range(n):
        yield i
# Compare memory usage
list_of_numbers = create_list(1000000)
generator_of_numbers = create_generator(1000000)
print(f"Memory used by list: {sys.getsizeof(list_of_numbers)} bytes")
print(f"Memory used by generator: {sys.getsizeof(generator_of_numbers)} bytes")
# You can iterate through the generator without loading all values into memory
print("\nIterating through the generator:")
for i in generator_of_numbers:
    if i > 10:
        break
    print(i)

Memory used by list: 8448728 bytes
Memory used by generator: 200 bytes

Iterating through the generator:
0
1
2
3
4
5
6
7
8
9
10

8. What is a lambda function in Python and when is it typically used?

ANS - A lambda function in Python is a small, anonymous function defined using the lambda keyword. It can take any number of arguments but can only have one expression. The result of the expression is the value returned by the lambda function.

Lambda functions are typically used for short, simple operations where a full function definition using def would be overly verbose or unnecessary. They are often used in conjunction with functions that take other functions as arguments, such as map(), filter(), and sorted().

Here's an example:

In [9]:
# A regular function
def add(x, y):
  return x + y

# The equivalent lambda function
add_lambda = lambda x, y: x + y

print(add(2, 3))
print(add_lambda(2, 3))

# Using lambda with sorted()
my_list = [(1, 5), (3, 2), (2, 8)]
sorted_list = sorted(my_list, key=lambda item: item[1])
print(sorted_list)

5
5
[(3, 2), (1, 5), (2, 8)]

9. Explain the purpose and usage of the `map()` function in Python.

ANS -The map() function in Python is a built-in function that applies a given function to each item of an iterable (like a list or tuple) and returns an iterator that yields the results. It's a concise way to perform the same operation on every element of a sequence without writing an explicit for loop.

Here's an example:

In [10]:
# A list of numbers
numbers = [1, 2, 3, 4, 5]

# A function to square a number
def square(x):
  return x**2

# Using map() to apply the square function to each number
squared_numbers_iterator = map(square, numbers)

# Convert the iterator to a list to see the results
squared_numbers_list = list(squared_numbers_iterator)

print(squared_numbers_list)

# Using map() with a lambda function
squared_numbers_lambda = list(map(lambda x: x**2, numbers))
print(squared_numbers_lambda)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

10. What is the difference between `map()`, `reduce()`, and `filter()` functions in Python?

ANS - The map(), filter(), and reduce() functions in Python are built-in tools for functional programming, each serving a distinct purpose in data transformation and aggregation:

* map(): This function applies a given function to each item in an iterable (like a list, tuple, or set) and returns an iterator that yields the results. It is used for transformation, creating a new iterable where each element is the result of applying the function to the corresponding element of the original iterable .

In [12]:
    # Example of map()
    numbers = [1, 2, 3, 4]
    squared_numbers = list(map(lambda x: x * x, numbers))
    # squared_numbers will be [1, 4, 9, 16]

* filter(): This function constructs an iterator from elements of an iterable for which a function returns True. It is used for selection, creating a new iterable containing only the elements from the original iterable that satisfy a specific condition. The function passed to filter() must return a boolean value .

In [13]:
    # Example of filter()
    numbers = [1, 2, 3, 4, 5, 6]
    even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
    # even_numbers will be [2, 4, 6]

* reduce(): Found in the functools module (not a built-in function in Python 3), reduce() applies a rolling computation to sequential pairs of elements in an iterable, reducing the iterable to a single cumulative value. It is used for aggregation, combining elements of an iterable into a single result.

In [14]:
    from functools import reduce
    # Example of reduce()
    numbers = [1, 2, 3, 4]
    sum_of_numbers = reduce(lambda x, y: x + y, numbers)
    # sum_of_numbers will be 10 (1+2=3, 3+3=6, 6+4=10)

11. Using pen & Paper write the internal mechanism for sum operation using  reduce function on this given
list:[47,11,42,13];

ANS  - The internal mechanism of the reduce function for a sum operation on the list [47, 11, 42, 13].

The reduce() function applies a function of two arguments cumulatively to the items of an iterable. In the case of a sum operation with lambda x, y: x + y, it works as follows:


Step 1: The lambda function is applied to the first two elements of the list: 47 and 11.

x = 47, y = 11

Result: 47 + 11 = 58

Step 2: The result from Step 1 (58) becomes the new x, and the next element in the list (42) becomes the new y.

x = 58, y = 42

Result: 58 + 42 = 100

Step 3: The result from Step 2 (100) becomes the new x, and the next element in the list (13) becomes the new y.

x = 100, y = 13

Result: 100 + 13 = 113

Final Result: Since there are no more elements in the list, the final result of the reduce() operation is 113.

# ***Practical Questions:***

1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [ ]:
def sum_even_numbers(numbers):
    even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
    return sum(even_numbers)

In [ ]:
sum_even_numbers([67, 20, 4, 15, 64])

88

2. Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def reverse_string(string):
    return string[::-1]

In [ ]:
string = "Hello World"
reverse_string(string)

'dlroW olleH'

3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [ ]:
def square_numbers(numbers):
    return list(map(lambda x: x**2, numbers))

In [ ]:
numbers = [1, 2, 3, 4, 5]
square_numbers(numbers)

[1, 4, 9, 16, 25]

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

In [ ]:
number = 17
is_prime(number)

True

5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [ ]:
def fibonacci_sequence(n):
    a, b = 0, 1
    for i in range(n):
        yield a
        a, b = b, a + b

In [ ]:
n = 10
for number in fibonacci_sequence(n):
    print(number)

0
1
1
2
3
5
8
13
21
34

6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
def power_of_two(exponent):
    for i in range(exponent + 1):
        yield 2 ** i

In [ ]:
exponent = 5
for power in power_of_two(exponent):
    print(power)

1
2
4
8
16
32

7. Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
# Create a dummy file for demonstration
file_content = """This is the first line.
This is the second line.
This is the third line."""

with open("my_dummy_file.txt", "w") as f:
    f.write(file_content)

In [16]:
def read_file_line_by_line(filepath):
    """
    A generator function that reads a file line by line and yields each line.

    Args:
        filepath (str): The path to the file to read.

    Yields:
        str: Each line of the file as a string.
    """
    with open(filepath, 'r') as f:
        for line in f:
            yield line.strip() # Use strip() to remove leading/trailing whitespace, including newline characters

# Example usage:
for line in read_file_line_by_line("my_dummy_file.txt"):
    print(line)

This is the first line.
This is the second line.
This is the third line.

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [ ]:
def sort_list_of_tuples(list_of_tuples):
    return sorted(list_of_tuples, key=lambda x: x[1])

In [ ]:
list_of_tuples = [(1, 3), (3, 2), (2, 1)]
sort_list_of_tuples(list_of_tuples)

[(2, 1), (3, 2), (1, 3)]

9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [ ]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

In [ ]:
celsius = [0, 10, 20, 30, 40]
fahrenheit = list(map(celsius_to_fahrenheit, celsius))
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [ ]:
def sum_even_numbers(numbers):
    even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
    return sum(even_numbers)

In [ ]:
print(sum_even_numbers([67, 20, 4, 15, 8]))

32

11. Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

![khugyuj.jpg]()




Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,-  if the value of the
order is smaller than 100,00 .



Write a Python program using lambda and map.

In [18]:
def calculate_order_totals(orders):
    processed_orders = list(map(
        lambda order: (order[0], order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0)),
        orders
    ))
    return processed_orders

# Example usage:
orders_data = [
    ["34587", "Learning Python, Mark Lutz", 4, 40.95],
    ["98762", "Programming Python, Mark Lutz", 5, 56.80],
    ["77226", "Head First Python, Paul Barry", 3, 32.95],
    ["88112", "Python Cookbook, David Beazley", 3, 24.99]
]

result = calculate_order_totals(orders_data)
print(result)

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97)]